.group{
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.data-description{
    text-align: left;
}

.dataset-description{
    float: left;
    width: 1200px;
}