a{
  text-decoration: none;
  color: #ff0039;
}
a:hover{
  color: grey;
}

button{
  background-color: #5f6bff;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 5px;
  border: white;
}
button:hover{
  border: black 2px solid;
}

input{
  height: 30px;
  border: 2px solid black;
  border-radius: 5px;
}

select{
  height: 30px;
}






